.select {
    width: 500px;
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
}

.title_plan {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.title_page {
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 20px;
    color: var(--marine-blue);
}

.exp {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 15px;
    color: var(--light-gray);
}

.cards {
    width: 400px;
    height: 25%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.img_cards {
    width: 40px;
}

.cards_select {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid var(--magnolia) 2px;
    border-radius: 5px;
    padding: 10px;
}

.cards_select:hover {
    background-color: var(--magnolia);
    border: solid var(--marine-blue) 1px;
    cursor: pointer;
}

.select_card {
    background-color: var(--magnolia);
    border: solid var(--marine-blue) 1px;
}

.text_card {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-bottom: 3px;
}

.card_title {
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 15px;
    color: var(--marine-blue);
}

.text_buy {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 15px;
    color: var(--light-gray);
}

.button_select {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    background-color: var(--magnolia);
    border-radius: 5px;
}

.monthly {
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 15px;
    color: var(--marine-blue);
}

.yearly {
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 15px;
    color: var(--light-gray);
}

.buttons {
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.go {
    background-color: transparent;
    font-weight: 700px;
    font-family: var(--fonte-principal);
    color: var(--light-gray);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next_stop {
    background-color: var(--marine-blue);
    font-family: var(--fonte-principal);
    color: var(--light-gray);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle[type="checkbox"] {
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: var(--marine-blue);
    border-radius: 50px;
    position: absolute;
    cursor: pointer;
    transition: .3s;
}

.toggle[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--white);
    border-radius: 50px;
    left: 4px;
    top: 1.5px;
    transition: .3s;
}

.toggle[type="checkbox"]::after {
    content: "";
    position: absolute;
    left: 15px;
    top: 3px;
    transition: .3s;
}

.toggle[type="checkbox"]:checked::before {
    left: 20px;
}

.toggle[type="checkbox"]:checked::after {
    left: 10px;
}